<?xml version="1.0" encoding="UTF-8"?>
<!--
      Folders.wxs (KIRSmartAV-setup)
      ============================================
      Copyright(C) 2016  Fahmi Noor Fiqri
  
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Lesser General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
  
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of   
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
      GNU Lesser General Public License for more details.
  
      You should have received a copy of the GNU Lesser General Public License
      along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Define folders -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Application folder on Program Files -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="KIRSmartAV">
          <Directory Id="LOCALEDIRECTORY" Name="id-ID" />
          <Directory Id="HOTFIXDIRECTORY" Name="updates" />
          <Directory Id="LICENSEDIRECTORY" Name="COPYING" />
        </Directory>
      </Directory>
      
      <!-- App data -->
      <Directory Id="CommonAppDataFolder">
        <Directory Id="APPLICATIONDATADIRECTORY" Name="KcavData">
          <Directory Id="DATABASEDIRECTORY" Name="database" />
        </Directory>
      </Directory>
      
      <!-- Application shortcut folder on Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="KIRSmartAV" />
      </Directory>

      <!-- Desktop shortcut -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>
</Wix>