<?xml version="1.0" encoding="UTF-8"?>
<!--
  Folders.wxs (KIRSmartAV-setup.wixproj)
  WiX Setup project to create MSI package of KIRSmartAV product.
  =================================================================
  Defines folders structure for installation.

  This file is a part of KIRSmartAV product which it's copyright(s)
  belongs to Fahmi Noor Fiqri as the owner of this code. Any 
  reproduction, distribution, manipulation, or other actions that 
  is not explicitly permitted by author is prohibited.
  
  { Feel free to ask to the author to get rights to edit this file
    visit this project at GitHub!
          https://github.com/fahminlb33/KIRSmartAV  }
  
  Copyright (C) Fahmi Noor Fiqri 2016. All Rights Reserved.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Define folders -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Application folder on Program Files -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="KIRSmartAV">
          <Directory Id="LOCALEDIRECTORY" Name="id-ID" />
          <Directory Id="DATABASEDIRECTORY" Name="database" />
          <Directory Id="HOTFIXDIRECTORY" Name="updates" />
          <Directory Id="LICENSEDIRECTORY" Name="COPYING" />
        </Directory>
      </Directory>
      
      <!-- Application shortcut folder on Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="KIRSmartAV" />
      </Directory>

      <!-- Desktop shortcut -->
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
  </Fragment>
</Wix>