<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KIRSmartAV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KIRSmartAV.Properties.Settings>
            <setting name="QuickFixEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChestPath" serializeAs="String">
                <value>[UNSET]</value>
            </setting>
            <setting name="QuickFixRecrusive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UILanguage" serializeAs="String">
                <value>Indonesia</value>
            </setting>
        </KIRSmartAV.Properties.Settings>
    </userSettings>
</configuration>